* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: set-text-color;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}
.text-center {
  text-align: center;
}
#about .section-title {
  color: #333;
}
#about .about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}

#about .bio-image {
  grid-area: bioimage;
}

#about .bio {
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem;
}

#about .education-1 {
  grid-area: aw1;
}

#about .education-2 {
  grid-area: aw2;
}
#about .education-3 {
  grid-area: aw3;
}
